
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block meta %}
        {% endblock %}

        <title>
            {% block title %} Te lo rastreo | {% endblock %}
        </title>
    
        <link 
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap" 
        rel="stylesheet"
        >
        <link 
            rel="stylesheet" 
            type="text/css"
            href="{{ url_for('static', filename='css/styles.css')}}">
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/tablet.css')}}"
            media="(min-width: 768px)"
        />

        <link 
            rel="apple-touch-icon" 
            sizes="180x180" 
            href="{{ url_for('static', filename='assets/imgs/apple-touch-icon.png')}}"
        />
        <link 
            rel="icon" 
            type="image/png" 
            sizes="32x32" 
            href="{{ url_for('static', filename='assets/imgs/favicon-32x32.png')}}"
        />
        <link 
            rel="icon" 
            type="image/png" 
            sizes="16x16" 
            href="{{ url_for('static', filename='assets/imgs/favicon-16x16.png')}}"
        />

    {% endblock %}
    
    {% block body %}
        
        {% block header %}
            {% include 'navbar.html' %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}
        
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
        
        <script type="text/javascript"  src="{{ url_for('static', filename='js/main.js') }}" ></script>
        
    {% endblock %}
  


