<footer>
    <section class="top">
        <ul>
            <li>
                <a href="https://telorastreo.com/information">Información</a>
            </li>
            <li>
                <a href="https://telorastreo.com/contact">Contacto</a>
            </li>
            <li>
                <a href="http://app.telorastreo.com/">Login</a>
            </li>
        </ul>
    </section>
    <section class="bottom">
        <img src="https://telorastreo.com/static/assets/imgs/logo-footer.svg" 
        alt="Te lo rastreo">
        <span class="text-footer">te lo rastreo</span>
    </section>
    <span>
        Development by 
        <a class="text-footer" rel =" noopener " href="https://github.com/sharsey" target="_blank">@Sharsey</a>
    </span>
</footer>