{% extends 'base.html'%}

{% block title %} 
    {{super()}}
    Información
{% endblock%}

{% block content %}
    <main>
        <section class="main-card-container">
            <div class="main-card-content">
                <h2>Sobre Te lo rastreo</h2>
                <!-- <h2>__________________</h2> -->
                <p>
                    Te lo rastreo es una plataforma de
                    seguimiento por GPS, diseñada para
                    conductores, taxistas, toda persona
                    que utilice un automovil y quiera
                    mantenerse seguro.
                </p>
            </div>
            <div class="main-card-content">
                <h2>Valores</h2>
                <!-- <h2>__________________</h2> -->
                <p>
                    Nuestros valores y principios de ética empresial son cualidades que nos distinguen y nos orientan. Los pilares son:
                    - Servicio
                    - Eficacia
                    - Garantía
                    - Compromiso
                    - Responsabilidad
                    - Seriedad
                    - Sinceridad
                    -Trabajo
                    -Transparencia
                </p>
            </div>
        </section>
    </main>
{% endblock %}
