<header>

    <div class="header--navbar-container">
         <div class="header-icons--mobile">
            <figure class="header-logo">
                <a href="{{ url_for('index') }}">
                    <img 
                        src="{{ url_for('static', filename='assets/imgs/logo.svg') }}" 
                        alt="te lo rastreo">
                </a>
            </figure>
           <div class="menu-button" id="burger-menu">
                <!-- <div class="menu-button__burger"></div> -->
                <img src="{{ url_for('static', filename='assets/icons/menu.svg') }}" alt="">
            </div>
        </div>
        <nav class="nav-menu" id="navbar">
            <a class="header--link-login" href="">
                <div class="header--navegation  button--login">
                    <span>LOGIN</span>
                </div>
            </a>
            <a class="header--link" href="{{ url_for('information') }}">
                <div class="header--navegation">
                <span>Información</span>
                </div>
            </a>
            <a class="header--link" href="{{ url_for('contact') }}">
                <div class="header--navegation">
                    <span>Contacto</span>
                </div>
            </a>
        </nav>
    </div>
</header>
